.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    text-align: center;
    width: 32%;
}

.advantages__pic {
    margin-bottom: 20px;
    height: 90px;
    display: inline-block;
}

.advantages__pic-elem {
    display: block;
}

.advantages__item h2 {
    margin-bottom: 20px;
    font-size: 24px;
    @include lifehack();
    color: $black;
    line-height: 1.25;
}

.advantages__item p {
    font-weight: 300;
    font-family: "Ubuntu";
    font-size: 14px;
    color: $black;
    letter-spacing: 1.8;
}