.contacts {
    font-size: 14px;
}

.contacts__address {
    font-style: normal;
    font-weight: 300;
}

.contacts__phone {
    text-decoration: none;
    font-weight: bold;
    color: $red;
    font-style: normal;
}

.contacts__phone {
    padding-left: 15px;
    background: url("../../img/phone.svg") no-repeat left center;
}