.food {
    position: relative;
    background-image: url('../img/bg-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.food__choice {
    position: absolute;
    width: 49%;
    height: 100%;
    top: 0;
    right: 0;
    content: "";
    background: #313436;
    opacity: .9;
}