.food {
    position: relative;
    background-image: url('../img/bg-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.food__title {
    position: absolute;
    top: 18%;
    left: 8%;
}