.main {
    position: relative;
    background-image: url('../../img/burgers_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main__container {
    height: 100%;
}

.main__page {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.main__img {
    margin-right: 10px;
    transform: translateY(-37px);
}

.main__icon {
    width: 470px;
}

.main__icon-elem {
    display: block;
    width: 100%;
}

.main__title h1 {
    color: $yellow;
    font-size: 72px;
    @include gagalin();
}

.main__subtitle {
    color: white;
    font-size: 62px;
    @include lifehack();
    line-height: 1;
    margin-top: 10px;
}

.main__scroll {
    width: 30px;
    height: 25px;
    background-image: url(../../img/arrow-scroll.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}