.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include tablets {
        display: none;
    }
}

.menu__item {
    margin-right: rem(7px);
    display: flex;
    align-items: center;
}

.menu__item:after {
    content: "";
    height: rem(4px);
    width: rem(4px);
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-left: rem(15px);
}

.menu__item:last-child:after {
    display: none;
}

.menu__link {
    font-size: rem(13px);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ubuntu";
}