.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu__item {
    margin-right: 7px;
    display: flex;
    align-items: center;
}

.menu__item:after {
    content: "";
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 50%;
    display: block;
    margin-left: 15px;
}

.menu__item:nth-last-child(2):after {
    display: none;
}

.menu__link {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Ubuntu";
}