.order {
    background: url("../img/bg-order.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.order__title {
    color: $yellow;
    font-size: 72px;
    @include gagalin();
    text-align: center;
    margin-bottom: 40px;
}

.order-form__list {
    display: flex;
    justify-content: space-between;
}

.order-form__col {
    width: 50%;
    margin-right: 20px;
}

.order-form__row {
    display: flex;
    margin-bottom: 15px;
}

.order-form__block {
    flex: 1;
    margin-left: 20px;
    &:first-child {
        margin-left: 0;
    }
}

.order-form__input {
    width: 100%;
}